.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 40px;
}

.App-title {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.pizza-body {
  background: url(../Assets/Pizza.jpg);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pizza-body p {
  font-size: 24px;
  font-weight: 600;
}
.pizza-body button {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  border-radius: 4px;
  border: solid 1px blue;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .App-header{
    padding: 0 20px;
  }
}

.Nav-wrapper{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.Nav-btn{
  color: white;
  border: solid 1px blue;
  border-radius: 4px;;
  padding: 6px 12px;
  font-style: normal;
  text-decoration: none;
}
.Nav-btn:hover{
  background: rgb(51, 51, 132);
}
.Nav-btn-active{
  background: blue;
}
.form-wrapper{
  max-width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border: 1px solid grey;
  border-radius: 8px;
}
.form-title{
  font-size: 24px;
  font-weight: 600;
}
.form-pizza{
  width: 100%;
  height: 200px;
  background: url(../Assets/Pizza.jpg);
}
#pizza-form{
  padding: 8px;
}
.form-group{
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
}
label{
  padding: 10px;
  background: grey;
  display: block;
  margin-bottom: 8px;
}
input{
  width: calc(100% - 8px);
  font-size: 20px;
}
#size-dropdown{
  width: 150px;
  font-size: 16px;
}
#order-button{
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 6px;
  border: 1px blue solid;
}
#order-button:hover{
  background: rgb(88, 88, 193);
}
.error{
  margin: 8px;
  color: red;
  font-weight: bold;
}
.checkbox{
  width: 30px;
}
.checkbox-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}